.mesStyles.btnOne{
	font-size: 30px;
	background-color: white;
	border: 2px solid rgb(243, 156, 18);
	padding: 18px 35px;
	color: rgb(243, 156, 18);
}

.mesStyles.btnOne:hover{
	font-weight: bold;
	color: white;
	background-color: rgb(243, 156, 18);
}

.mesStyles.btnTwo{
	font-size: 30px;
	background-color: white;
	border: 2px solid #16a085;
	padding: 18px 35px;
	color: #16a085;
}

.mesStyles.btnTwo:hover{
	font-weight: bold;
	color: black;
	background-color: #16a085;
}

.publicationImg{
	height: 80px;
	width: 80px;	
	margin-right: 13px;
	background-size: cover;
  	background-repeat: no-repeat;
  	background-position: center center;
  	-webkit-border-radius: 99em;
  	-moz-border-radius: 99em;
  	border-radius: 99em;
  	box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3); 
}

.publicationsBackgroundColor{
	background-color: rgb(255, 252, 221);
}

.NewColor{	
	color: #34495e;
}

.PublicationUserName{
	font-family: 'Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif';
	font-weight: bold;
	font-size: 23px;
	display: block;
	color: #34495e;
}

.publicationUserInfoDiv{
	padding-top: 8px;
}

.PublicationUserStatut{
	font-family: 'Bradley Hand, cursive';
	font-size: 13px;
	font-weight: bold;
	color: #e74c3c;
	padding-left: 8px;
}

.publicationContent{
	color: #95a5a6;
	font-size: 16px;
}

.publicationFooter{
	background-color: rgb(0, 182, 183);
}

.publicationDislike{
	color: rgb(223, 239, 238);
	font-size: 15px;
}

.publicationLike{
	color: #c0392b;
	font-weight: bold;
	font-size: 16px;
}

.publicationDislike:hover, .publicationLike:hover{
	color: #c0392b;
	font-weight: bold;
}

.publicationNbrLikes{
	padding-left: 100px;
	color:  rgb(223, 239, 238);
}

.nbrLikes{
	font-weight: bold;
}

.publierSection{
	padding-top: 250px;
	padding-bottom: 250px;
}

.monProfilImg{
	height: 80px;
	width: 80px;
	margin-top: 25px;
	margin-left: 45px;
	background-size: cover;
  	background-repeat: no-repeat;
  	background-position: center center;
  	-webkit-border-radius: 99em;
  	-moz-border-radius: 99em;
  	border-radius: 99em;
  	box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3); 
}